
<a href="/">back to menu</a>

<h1>{{ title }}</h1>

<form action="/articlesByAuthorId/submit" method="post">
    <input type="number" name="authorId" id="authorId">
    <br>
    <button type="submit">Get Article</button>
</form>