
<a href="/">back to menu</a>

<h1>{{ title }}</h1>

<form action="/articlesResult" method="post">
    <input type="text" name="articleTitle" id="articleTitle">
    <br>
    <button type="submit">Get Articles</button>
</form>