
<a href="/">back to menu</a>

<h1>{{ title }}</h1>

<form action="/articlesResult" method="post">
    <p>Start</p>
    <input type="date" name="articleStart">
    <br>
    <p>End</p>
    <input type="date" name="articleEnd">
    <br>
    <button type="submit">Get Articles</button>
</form>