<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<br>

<a href="articles">View all articles</a>
<br>

<a href="articlesById">Get an Article by Id</a>
<br>

<a href="articlesByAuthorId">Get an Article by Author Id</a>
<br>

<a href="articlesCreate">Create an Article</a>
<br>

<a href="articlesUpdateById">Update an Article</a>
<br>

<a href="articlesBetweenDates">Get Articles between dates</a>
<br>

<a href="articlesByTitle">Get Articles by title</a>
<br>
<br>
<br>

<a href="articlesWithPagination">Get Articles with pagination</a>
<br>

<a href="articlesGetFromEndPoint">Get Articles from Endpoint</a>
<br>